nav {
    background-color: rgba(206, 206, 206, 0.4);
    border: solid black 2px;
    border-radius: 10px;
}

nav ul {
    height: inherit;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-between;
}

nav ul li a {
    display: list-item;
    padding: 10px 20px;
    color: black;
    font-weight: bolder;
    text-decoration: none;
}

nav .menuPoint {
    margin: 0.5em;
    padding: 0;
    background-color: red;
    border: inset black 2px;
}

nav ul li>ul {
    display: none;
    background-color: rgba(189, 189, 189, 0.7);
}

nav ul li>ul li {
    margin: 0;
}

nav ul li:hover ul {
    position: absolute;
    display: block;
}

nav ul li ul li:hover {
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.4);
}